@font-face {
    font-family: 'Rick and Morty';
    src: url('./assets/rick-and-morty-font/WubbaLubbaDubDub.otf')
        format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    /* border: 1px solid grey; */
}

body {
    background-image: url(./assets/background.jpg);
    height: 100vh;
}

#root {
    height: 100%;
    padding: 20px;
}

.home-button {
    text-align: center;

    font-family: 'Rick and Morty';
    font-size: 60px;
    color: #00b5cc;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #00353e;
    animation: glow 0.6s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow:
            0 0 8px #fff,
            0 0 8px #fff,
            0 0 8px #b2df28,
            0 0 8px #b2df28,
            0 0 8px #b2df28,
            0 0 8px #b2df28,
            0 0 8px #b2df28;
    }
    to {
        text-shadow:
            0 0 8px #fff,
            0 0 8px #b2df28,
            0 0 8px #b2df28,
            0 0 8px #b2df28,
            0 0 8px #b2df28,
            0 0 8px #b2df28,
            0 0 8px #b2df28;
    }
}

.play-area {
    display: grid;
    gap: 20px;
}

.scoreboard {
    display: grid;
    height: 70px;

    justify-self: center;

    padding: 10px;
    border-radius: 10px;

    background-color: rgb(18, 30, 62);

    font-family: 'Rick and Morty';
    font-size: 25px;
    color: white;
}

.score-slot {
    display: grid;
    grid-template-columns: 150px 30px;
    gap: 10px;
}

.value {
    text-align: end;
}

.deck {
    width: 80%;

    justify-self: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    justify-content: center;
}

.card {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotateCard 0.7s 1 alternate;
}

.front,
.back {
    width: 100%;
    position: absolute;
    border-radius: 10px;
}

.front {
    height: 100%;
    z-index: 2;
    backface-visibility: hidden;
}

.back {
    z-index: 1;
    height: 100%;
}

@keyframes rotateCard {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

.shuffler {
    justify-self: center;
}

.tracker {
    font-family: 'Rick and Morty';
    font-size: 40px;
    justify-self: center;
}

.home {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.welcome {
    justify-self: center;
    align-self: center;

    display: grid;

    justify-content: center;
    align-items: center;
    justify-items: center;
}

.difficulty-selector {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px;
    border-radius: 6px;
    border: 0px;
}

.utility-buttons-container {
    display: flex;
    gap: 10px;
}

.utility-buttons-container button {
    border-radius: 100px;
}

.sound-button-icon,
.music-button-icon,
.instruction-button-icon {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 20px;
    height: 20px;
}

.instruction-button {
    margin-left: auto;
}

.playing-page {
    height: 100%;

    display: grid;
    grid-template-rows: auto auto auto;
    align-content: space-between;
}

.playing-page .home-button {
    justify-self: start;
}

.pop-up-message {
    justify-self: center;

    width: 80%;
    max-width: 700px;
    height: 300px;

    padding: 20px;
    border-radius: 20px;

    text-align: center;

    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    gap: 20px;

    background-color: rgb(18, 30, 62);
}

.actions {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.instruction-container {
    position: fixed;
    bottom: 0px;
    right: 8%;

    display: grid;
    grid-template-rows: 350px;
    gap: 10px;

    margin: 20px;
}

.instruction {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    align-self: end;
    font-family: 'Rick and Morty';

    padding: 25px;
    background-color: #00353e;
    border-radius: 20px;
    margin-bottom: 70px;

    display: grid;
}

.close-instruction-button {
    height: 30px;
    width: 30px;

    display: grid;
    justify-content: center;
    align-content: center;
}

.rick-and-morty {
    grid-column: 1 / 2;
    grid-column: 2 / 3;
    justify-self: end;
    align-self: end;

    height: 150px;
    margin-bottom: 30px;
}
