.deck {
    width: 80%;

    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 5px;

    justify-content: center;
}

.card {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: rotateCard 0.7s 1 alternate;
}

.front,
.back {
    width: 100%;
    position: absolute;
}

.front {
    height: 100%;
    z-index: 2;
    backface-visibility: hidden;
}

.back {
    z-index: 1;
    height: 100%;
}

@keyframes rotateCard {
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(0deg);
    }
}